In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_columns = None

import statsmodels.api as sm
from statsmodels.formula.api import ols

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer  
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_columns = None
from scipy import stats

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [3]:
df = pd.read_pickle("datos/peliculas_limpio.pkl")
df.head(2)

,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,No_of_Votes,Gross,Rating_BOX,Ryr_Sklstd,Rnt_Sklstd,Meta_Sklstd,Votes_Sklstd,Gross_Sklstd,Genre_map,Cert_map
0,1994.0,A,142,Drama,9.3,80.0,2343110.0,28341469.0,0.100485,-0.151515,0.676471,-0.001712,6.918768,0.131429,2,4.0
1,1972.0,A,175,Crime,9.2,100.0,1620367.0,134966411.0,0.100485,-0.818182,1.647059,1.426860,4.650520,1.997227,2,4.0

In [4]:
X = df.drop(["Released_Year", 'Genre','Certificate', 'Runtime','Meta_score','No_of_Votes', 'Gross','Rating_BOX'], axis = 1)
y = df["Rating_BOX"]
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [5]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [6]:
lr = LinearRegression(n_jobs=-1)

In [7]:
lr.fit(x_train, y_train)

LinearRegression(n_jobs=-1)

In [8]:
y_predict_train = lr.predict(x_train) 
y_predict_test = lr.predict(x_test)

In [9]:
train_df = pd.DataFrame({'Real': y_train, 'Predicted': y_predict_train, 'Set': ['Train']*len(y_train)})
test_df  = pd.DataFrame({'Real': y_test,  'Predicted': y_predict_test,  'Set': ['Test']*len(y_test)})
resultados = pd.concat([train_df,test_df], axis = 0)
resultados.head()

         Real  Predicted    Set
29   0.100485   0.100485  Train
535  0.100485   0.100485  Train
695  0.100485   0.100485  Train
557  0.100485   0.100485  Train
836  0.100485   0.100485  Train

In [10]:
resultados['residuos'] = resultados['Real'] - resultados['Predicted']
resultados.head()

         Real  Predicted    Set      residuos
29   0.100485   0.100485  Train -8.294393e-12
535  0.100485   0.100485  Train  4.238138e-12
695  0.100485   0.100485  Train  1.407943e-12
557  0.100485   0.100485  Train  3.353526e-12
836  0.100485   0.100485  Train -4.458156e-12

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

<p>Calculéis las métricas para vuestro modelo</p>

In [12]:
resultados_metricas = {'MAE': [mean_absolute_error(y_test, y_predict_test), mean_absolute_error(y_train, y_predict_train)],
                'MSE': [mean_squared_error(y_test, y_predict_test), mean_squared_error(y_train, y_predict_train)],
                'RMSE': [np.sqrt(mean_squared_error(y_test, y_predict_test)), np.sqrt(mean_squared_error(y_train, y_predict_train))],
                'R2':  [r2_score(y_test, y_predict_test), r2_score(y_train, y_predict_train)],
                 "set": ["test", "train"], 
                 "modelo": ["Linear Regresion", "LinearRegression"]}

df_resultados = pd.DataFrame(resultados_metricas)

df_resultados

            MAE           MSE          RMSE        R2    set            modelo
0  5.318644e-12  4.436507e-23  6.660711e-12  0.961996   test  Linear Regresion
1  5.650511e-12  5.867691e-23  7.660086e-12  0.952863  train  LinearRegression

<p> Deberíamos tener un dataframe con los valores de los tres modelos de preddición </p>

<p>Discutid los resultados de las métricas y extraed conclusiones</p>

Podemos decir que al no ser los valores totalmente iguales descartamos el overfitting apostando por un modelo preciso.

<p>Guardad los resultados de las métricas en un csv para usarlo más adelante.</p>

In [14]:
df_resultados.to_csv("datos/resultados_IMDB_LR.csv")