En el pair programming de hoy usaremos el set de datos que guardastéis en el pair programming de normalización y estandarización.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_columns = None

import statsmodels.api as sm
from statsmodels.formula.api import ols

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer  
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_columns = None
from scipy import stats

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [3]:
df = pd.read_pickle("datos/peliculas_limpio.pkl")
df.head(2)

,Series_Title,Released_Year,Certificate,Runtime,Genre,Overview,Director,Star1,Star2,Star3,Star4,IMDB_Rating,Meta_score,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,9.3,80.0,2343110.0,28341469.0
1,The Godfather,1972,A,175 min,"Crime, Drama",An organized crime dynasty's aging patriarch t...,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,9.2,100.0,1620367.0,134966411.0

Vuestro set de datos debería tener al menos una variable categórica, el objetivo del pair programming de hoy:
-Hacer una códificación de la/las variables categóricas que tengáis en vuestro set de datos.
-Recordad que lo primero que deberéis hacer es decidir su vuestras variables tienen o no orden, para que en función de esto uséis una aproximación u otra.
-Guardad el dataframe, donde deberíais tener las variables estadandarizas, normalizadas y codificadas en un csv para usarlo en el próximo pairprogramming

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
# Vamos a darle un valor númerico a la variable categórica "Certificate"
le = LabelEncoder()
df['Certificate_le']=le.fit_transform(df['Certificate'])

In [6]:
df.sample(5)

,Series_Title,Released_Year,Certificate,Runtime,Genre,Overview,Director,Star1,Star2,Star3,Star4,IMDB_Rating,Meta_score,No_of_Votes,Gross,Certificate_le
188,Tôkyô monogatari,1953,U,136 min,Drama,An old couple visit their children and grandch...,Yasujirô Ozu,Chishû Ryû,Chieko Higashiyama,Sô Yamamura,Setsuko Hara,8.2,85.707069,53153.0,2.007217e+07,12
469,Isle of Dogs,2018,U,101 min,"Animation, Adventure, Comedy","Set in Japan, Isle of Dogs follows a boy's ody...",Wes Anderson,Bryan Cranston,Koyu Rankin,Edward Norton,Bob Balaban,7.9,82.000000,139114.0,3.201523e+07,12
677,Predator,1987,A,107 min,"Action, Adventure, Sci-Fi",A team of commandos on a mission in a Central ...,John McTiernan,Arnold Schwarzenegger,Carl Weathers,Kevin Peter Hall,Elpidia Carrillo,7.8,45.000000,371387.0,5.973555e+07,1
593,About Time,2013,R,123 min,"Comedy, Drama, Fantasy","At the age of 21, Tim discovers he can travel ...",Richard Curtis,Domhnall Gleeson,Rachel McAdams,Bill Nighy,Lydia Wilson,7.8,55.000000,303032.0,1.532292e+07,8
455,Arsenic and Old Lace,1942,U,118 min,"Comedy, Crime, Thriller",A writer of books on the futility of marriage ...,Frank Capra,Cary Grant,Priscilla Lane,Raymond Massey,Jack Carson,8.0,81.746885,65101.0,2.225861e+07,12